$background-dark: #000;
$background-light: #fff;

$color-txt-dark:#fff;
$color-txt-light:#000;

$color-btn: #6C63FF;
$color-btn-hover:#5951fd;


@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}