
.listContainer{
    border: 1px solid red;
    width: 80%;
    padding: 20px 10px 5px;
    margin-top: 50px;

}
.listHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 5px;
    border-bottom: 2px solid rgb(216, 216, 216);
    

}

.listContainer ul{
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 7px;
    }   
    /* Handle */
    &::-webkit-scrollbar-thumb {
     background: #b5b1fc;
    }
    
    &::-webkit-scrollbar-track {
        background: #dbdbdb; 
      }
  
   
}


.listContainer ul li{
    border: 1px solid red;
    height: 35px;
    display: flex;
    margin-bottom: 10px;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
}