.modal{
    background-color: rgba(24, 24, 24, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .content{
        background-color: rgb(255, 255, 255);
        height: 300px;
        width: 300px;
        padding: 20px;
        position: relative;
        border-radius: 10px;
        @include flexColumn;
        .close{
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 1rem;
          cursor: pointer;
        }
       
    }
}

.modal.open{
    display: flex;
}

.modalElements{
    @include flexColumn;

    .modalInput{
        margin-top: 50px;
        @include flexColumn;
        gap: 10px;
        input{
            height: 20px;
        }
    }
}
