@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;400;700&display=swap');

$font1:'Inter', sans-serif;
$font2: 'Poppins', sans-serif;


h1{
    font-family: $font1;
    font-weight: 100;
    font-style: italic;
    
}

