@import "reset";
@import "fonts";
@import "colors-mixins";
@import "header";
@import "theme";
@import "button";
@import "modal";
@import "clock";
@import "list";

body{
    font-family: $font2;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 20px;
    margin-top: 50px;
    
}

img{
    width: 100%;
    margin: 0 auto;
}

main{
    @include flexColumn;
}

